* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme: orange;
  --themeDark: rgb(201, 130, 0);
  --themeLight: rgb(255, 220, 156);
  --white: #ffffff;
  --black: #030201;
  --lightblack: #a3a2a4;
  --bgColor: #f8f8f8;
  --cardBG: #cdcdfd;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color: rgb(236, 236, 236);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(175, 175, 175);
}

body {
  background-color: var(--bgColor);
}

/* Global Css Style start */
a {
  text-decoration: none;
  color: var(--black);
}

/* Padding classes start */
.pt-lg {
  padding-top: 50px;
}
.pb-lg {
  padding-bottom: 50px;
}

.py-lg {
  padding: 50px 0px;
}

.pt-md {
  padding-top: 30px;
}
.pb-md {
  padding-bottom: 30px;
}

.py-md {
  padding: 30px 0px;
}
.pt-sm {
  padding-top: 15px;
}
.pb-sm {
  padding-bottom: 15px;
}

.py-sm {
  padding: 15px 0px;
}

/* Padding classes end */
/* margin classes start */
.mt-lg {
  margin-top: 50px;
}
.mb-lg {
  margin-bottom: 50px;
}

.my-lg {
  margin: 50px 0px;
}

.mt-md {
  margin-top: 30px;
}
.mb-md {
  margin-bottom: 30px;
}

.my-md {
  margin: 30px 0px;
}
.mt-sm {
  margin-top: 15px;
}
.mb-sm {
  margin-bottom: 15px;
}

.my-sm {
  margin: 15px 0px;
}

/* margin classes end */

/* Global Css Style end */

/* Aside Style Start */

body aside {
  height: 100dvh;
  width: 300px;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1599;
  padding: 20px 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* logo start */
aside .logo {
  margin-bottom: 20px;
}

aside .logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: var(--black);
}

aside .logo a i {
  font-size: 2.3rem;
  color: var(--theme);
}
aside .logo a span {
  font-size: 1.3rem;
}
/* logo end */

/* Menu Start */
aside .menu .list_title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--lightblack);
  padding: 0px 5px;
}

aside .menu .sideList {
  list-style-type: none;
  padding: 20px 0px;
}

aside .menu .sideList .sideItem {
  margin-bottom: 10px;
}
aside .menu .sideList .sideItem a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

aside .menu .sideList .sideItem a:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.123);
}
aside .menu .sideList .sideItem a i {
  font-size: 1.6rem;
}

aside .menu .sideList .sideItem a span {
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s;
}

aside .menu .sideList .sideItem a:hover span {
  padding-bottom: 3px;
}
/* Menu end */

/* Aside Style End */
/* Main Style Start */
body {
  min-height: 100dvh;
  /* background-color: transparent; */
  padding-left: 320px;
  padding-right: 20px;
}

/* Nav Style Start */
body nav {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

body nav form {
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  width: fit-content;
  padding: 8px 30px 5px 10px;
}

body nav form label {
  font-size: 1.3rem;
  color: var(--black);
}

body nav form input {
  border: none;
  background-color: transparent;
}

body nav form input:focus-visible {
  outline: none;
  border: none;
}

nav .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

body nav .icons a {
  text-decoration: none;
  color: var(--black);
  font-size: 2rem;
}
nav .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.083);
  width: fit-content;
}
nav .profile span {
  padding: 0px 20px;
}

nav .profile .profile_pic {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
}
nav .profile .profile_pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Nav Style end */
/* Count Card Style Start */

.countCards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 20px;
  background-color: var(--cardBG);
  border-radius: 15px;
  width: calc(100% / 4 - 15px);
}
.countCards .card .dateMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.countCards .card .dateMenu .date {
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}

.countCards .card .dateMenu i {
  font-size: 1.6rem;
  color: var(--white);
}

.countCards .card .count {
  font-size: 2.3rem;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

.countCards .card .title {
  font-size: 1rem;
  color: rgb(97, 97, 97);
}

.countCards .card:nth-child(even) {
  background-color: #f5de7a;
}

 .dropdown {
  position: relative;
  z-index: 0;
  cursor: pointer;
}
 .dropdown .dropmenu {
  list-style: none;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.3s;
}

.dropdown:hover .dropmenu {
  height: auto;
  min-height: 70px;
  max-width: var(--dropHeight);
}

 .dropdown .dropmenu li {
  padding: 10px 15px;
  transition: all 0.3s;
}

 .dropdown .dropmenu li:hover {
  background-color: rgb(231, 231, 231);
}
/* Count Card Style End */
/* body table start  */
body .table_card {
  padding: 0px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px #00000015;
  border-radius: 10px;
  overflow-x: auto;
}
body .table_card table {
  border-collapse: collapse;
  width: 100%;
}
body .table_card table th {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: start;
  padding: 15px 20px;
  text-wrap: nowrap;
}
body .table_card table td {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: start;
  padding: 15px 20px;
  text-wrap: nowrap;
}

body .table_card table tr {
  background-color: #fff;
  border-radius: 20px;
}
body .table_card table tr:nth-child(even) {
  background-color: #ededed;
}
body .table_card table tr td button {
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  border: none;
  text-transform: capitalize;
  background-color: var(--btncolor);
}
body .table_card table tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
body .table_card table tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body .table_card table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
body .table_card table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* main table end  */

/* Chart Style Start */

body .chart_parent  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
body .chart_card {
  padding: 0px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px #00000015;
  border-radius: 10px;
  width: calc(100% / 2 - 20px);
}
/* Chart Style End */
/* Main Style End */
